# the virtual environment
.venv/

# compiled python stuff
__pycache__/
*.py[cod]

# idea files
.idea

# mac stuff
.DS_Store

# logging stuff
*.log

# build and publish artifacts
build/
*.egg-info
dist

# coverage stuff
.coverage
htmlcov
